.section {
    margin-bottom: 40px;
}

.title {
    font-size: 18px;
    line-height: 21px;
    color: #CCCCCC;
    margin-bottom: 20px;
}

.itemBlock {
    background: #212122;
    border-radius: 5px;
    padding: 15px 20px 25px 20px;
    border-bottom: 2px solid #F2BF58;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 200px;
    position: relative;
}

.itemBlock:hover {
    border-bottom: 2px solid #4ECD77;
}

.itemsCount {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: white;
}

.countPrefix {
    font-size: 15px;
    line-height: 18px;
    color: #CCCCCC;
    text-transform: uppercase;
    margin-left: 5px;
}

.itemName {
    font-size: 15px;
    line-height: 18px;
    color: #CCCCCC;
}

.itemIcon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.unit {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #CCCCCC;
    margin-left: 5px;
}
