.container {

    color: white;

    display: flex;
    flex-direction: column;
    
    gap: 10px;
}


.gauges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
}


.commonBlock {
    min-width: 150px;
    flex-grow: 1;
}


.barCharts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.readinessStages {
}

.restartedPods {
}