:global(.popup-contents) .configContainer {
    padding: 24px;
}

:global(.popup-contents .copy-icon) {
    display: block !important;
}

.configHeader {
    color: white;
    font-family: 'Montserrat', monospace;
}

.configHeader .cluster {
    padding: 5px 10px;
}

.configHeader .cluster :global(.dn-path) {
    font-size: 18px;
}

.configHeader .cluster :global(.dn-path .kind) {
    font-size: 18px;
}

.blockHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: inherit;
    padding: 20px 25px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.blockHeader h3 {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

.tabLabel {
    margin-right: 10px;
    color: #666666;
    font-size: 16px;
    line-height: 19px;
}

.configBtn {
    width: 30px;
    height: 30px;
    background: #0b0b0c;
    border: 1px solid #666666;
    color: white;
    margin-right: 10px;
    outline: none;
}

.configBtn.selected {
    border: 1px solid #ffffff;
}

.configBtn.download {
    background: #4ecd77;
}

.configBtn.mr25 {
    margin-right: 25px;
}

.configBtn:last-child {
    margin-right: 0;
}

.configContainer {
    height: calc(100% - 110px);
    font-family: Montserrat, serif;
    font-size: 12px;
    overflow: hidden;
    padding: 0;
}

.configContainer.editMode {
    background: rgba(24, 24, 25, 0.84);
    height: calc(100% - 160px);
    padding: 0;
}

.configContainer:hover {
    overflow: auto;
}

.configContainer pre {
    font-size: inherit;
    overflow-x: hidden;
}

.configContainer code {
    font-family: Inconsolata, monospace;
    font-size: 14px;
}

.configContainer :global(div.copy-icon) {
    position: absolute;
    right: 35px;
    top: 135px;
}

.configFooter {
    display: flex;
    align-items: center;
    border-top: 1px solid #333333;
    height: 50px;
    padding: 0 25px;
}

.configFooter :global(.copy-icon) {
    position: unset;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #999999;
}

.runCommand {
    color: white;
}

:global(.CodeMirror) {
    background: none !important;
}