.innerList {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entryDirection {
    color: white;
    margin-right: 10px;
}

.entryDirectionIcon {
}

.entryDnExtra {
    flex-grow: 1;
}
